@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
 

@layer base {
  :root {
    --background: 0 0% 100%; /* fondo */

    --primary: 240 0% 8%; /* color texto primario */
    --primary-foreground: 0 0% 98%; /* color contraste texto primario */

    --secondary: 240 5.9% 45%;
    --secondary-foreground: 240 5.9% 30%;

    --accent: 240 4.8% 91.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;


    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 96%;
    --popover-foreground: 240 10% 3.9%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
  }

  .dark {
    --background: 251 24% 9%;

    --primary: 0 0% 89%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 74.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;


    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 251 24% 7%;
    --popover-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--background); /* Cambia el color de fondo de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
  background-color: gray; /* Cambia el color del thumb */
  border-radius: 3px;
}

@keyframes rotateClockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#min {
  transform-origin: 412px 383px;
  animation: rotateClockwise 10s linear infinite;
}

#hour {
  transform-origin: 412px 383px;
  animation: rotateClockwise 60s linear infinite;
}